doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title= title
		link(href=`./static/css/style.css?ux=${Date.now()}` rel='stylesheet')
	body
		.root
			include ../layout/_header
			main.main
				block content
			include ../layout/_footer
		include ../layout/_modals

		script(src="./static/js/jquery-3.5.1.min.js")
		script(src="./static/js/jquery.inputmask.min.js")
		script(src="./static/js/slick.js")
		script(src="./static/js/bootstrap.min.js")
		script(src="./static/js/aos.js")
		script(src="./static/js/scripts.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd-Itq5HG-0r850fuTJhIVhyqTtdqs66k&callback=initMap" async defer)