*,
*::after,
*::before {
	box-sizing: border-box;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
	min-width: 320px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: normal;
	text-align: left;
	color: $text-dark;
	background: $bg-primary;
    overscroll-behavior: none;
    scroll-behavior: smooth;

    @include sm {
        font-size: 14px;
    }
}

.root {
    min-height: calc(100vh);
    overflow: hidden;
}

h1 {
	@include h(1);
	margin: 0 0 30px;
}
h2 {
	@include h(2);
	margin: 0 0 30px;
}
h3 {
	@include h(3);
	margin: 0 0 20px;
}
h4 {
	@include h(4);
	margin: 0 0 30px;
}
h5 {
	@include h(5);
    margin: 0 0 10px;
}
h6 {
    @include h(6);
    margin: 0;
}

img {
	width: 100%;
	height: auto;
}

.container {
    width: 100%;
    max-width: 1840px;
    height: 100%;
    margin: 0 auto;

    &_small {
        max-width: 1280px;
        padding: 0 32px;
        
        @include sm {
            padding: 0 15px;
        }
    }
}