$brand-primary: #E34132;
$text-dark: #030303;
$text-primary: #A3A4A7;
$text-secondary: #7E8489;
$bg-primary: #FFFFFF;
$bg-secondary: #F6F6F6;
$bg-tertiary: #E8E9E9;
$bg-dark: #030303;
$border-primary: #A3A4A7;
$border-secondary: #7E8489;
$border-tertiary: #E8E9E9;
$hover-primary: #C5291B;
$hover-secondary: #DADBDC;


$xxxl-width: 1843.98px;
$xxl-width: 1749.98px;
$xl-width: 1559.98px;
$lg-width: 1279.98px;
$md-width: 991.98px;
$sm-width: 767.98px;
$xs-width: 567.98px;
$xxs-width: 379.98px;
$xxxs-width: 321.98px;

@mixin xxxl {
    @media screen and (max-width: #{$xxxl-width}) {
        @content;
    }
}

@mixin xxl {
    @media screen and (max-width: #{$xxl-width}) {
        @content;
    }
}

@mixin xl {
    @media screen and (max-width: #{$xl-width}) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: #{$lg-width}) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: #{$md-width}) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: #{$sm-width}){
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: #{$xs-width}) {
        @content;
    }
}

@mixin xxs {
    @media screen and (max-width: #{$xxs-width}) {
        @content;
    }
}

@mixin xxxs {
    @media screen and (max-width: #{$xxs-width}) {
        @content;
    }
}

@mixin row($mr) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -#{$mr}px;
    margin-right: -#{$mr}px;
}

@mixin row-flex() {
    display: flex;
    flex-wrap: wrap;
}

@mixin col($colsize, $mrg) {
    width: calc(100% / 12 * #{$colsize} - #{$mrg*2}px - 0.1px);
    margin-left: #{$mrg}px;
    margin-right: #{$mrg}px;
    word-wrap: break-word;
}

@mixin coloff($coloffset, $mrg2) {
    margin-left: calc(100% / 12 * #{$coloffset} + #{$mrg2}px);
}

@mixin h($s) {
    
    @if $s == 1 {
        @extend %heading;
        font-weight: bold;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -2px;
        
        @include lg {
            font-size: 48px;
            line-height: 52px;
        }
        @include md {
            font-size: 42px;
            line-height: 46px;
        }
        @include sm {
            font-size: 36px;
            line-height: 40px;
        }
    } @else if $s == 2 {
        @extend %heading;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -1px;
    
        @include lg {
            font-size: 42px;
            line-height: 42px;
        }
        @include md {
            font-size: 36px;
            line-height: 36px;
        }
        @include sm {
            font-size: 32px;
            line-height: 32px;
        }
        @include xs {
            font-size: 24px;
            line-height: 28px;
        }
    } @else if $s == 3 {
        @extend %heading;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1px;
        
        @include lg {
            font-size: 36px;
            line-height: 42px;
        }
        @include md {
            font-size: 32px;
            line-height: 36px;
        }
        @include sm {
            font-size: 26px;
            line-height: 32px;
        }
    } @else if $s == 4 {
        @extend %heading;
        font-size: 32px;
        font-weight: bold;
        line-height: 40px;
        letter-spacing: -0.6px;

        @include lg {
            font-size: 26px;
            line-height: 30px;
        }
        @include md {
            font-size: 22px;
            line-height: 24px;
        }
        
        @include sm {
            font-size: 20px;
            line-height: 22px;
        }
        @include xs {
            font-size: 18px;
            line-height: 20px;
        }
    }  @else if $s == 5 {
        @extend %heading;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -1px;
    
        @include sm {
            font-size: 18px;
            line-height: 20px;
        }
    } @else if $s == 6 {
        @extend %heading;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.4px;
        @include sm {
            font-size: 18px;
            line-height: 20px;
        }
    }
}

@mixin flex($ff) {
    display: flex;
    
    @if $ff == lt {
        justify-content: flex-start;
        align-items: flex-start;
    } @else if $ff == lc {
        justify-content: flex-start;
        align-items: center;
    } @else if $ff == lb {
        justify-content: flex-start;
        align-items: flex-end;
    } @else if $ff == ct {
        justify-content: center;
        align-items: flex-start;
    } @else if $ff == cc {
        justify-content: center;
        align-items: center;
    } @else if $ff == cb {
        justify-content: center;
        align-items: flex-end;
    } @else if $ff == rt {
        justify-content: flex-end;
        align-items: flex-start;
    } @else if $ff == rc {
        justify-content: flex-end;
        align-items: center;
    } @else if $ff == rb {
        justify-content: flex-end;
        align-items: flex-end;
    } @else if $ff == st {
        justify-content: space-between;
        align-items: flex-start;
    } @else if $ff == sc {
        justify-content: space-between;
        align-items: center;
    } @else if $ff == sb {
        justify-content: space-between;
        align-items: flex-end;
    } @else if $ff == ls {
        justify-content: flex-start;
        align-items: stretch;
    } @else if $ff == cs {
        justify-content: center;
        align-items: stretch;
    } @else if $ff == rs {
        justify-content: flex-end;
        align-items: stretch;
    } @else if $ff == ss {
        justify-content: space-between;
        align-items: stretch;
    } @else if $ff == sn {
        justify-content: space-between;
        align-items: baseline;
    } @else {
    
    }
}

@mixin flexcol($fw) {
    @if $fw == w {
        flex-flow: column wrap;
    } @else if $fw == n {
        flex-flow: column nowrap;
    }
}